@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --main-highlight-color: #f15025; /* rgb(95,31,15) */
  --main-bg-color: #fff;
  --main-bg2-color: #e6e8e6;
  --main-font-color: #3a3a3a;
  --main-dark-color: #191919;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* button[type='submit'],
#searchBtn {
  background-color: var(--main-highlight-color);
  color: var(--main-bg-color);
  border-radius: 0.25rem;
  padding: 2px 4px;
  font-size: 18pt;
} */

.cta-button-icon {
  color: var(--main-bg2-color);
  font-size: 20px;
  padding: 1px 1px;
  border-radius: 3px;
  transition: 0.1s all ease;
  display: inline;
  margin: 0px 10px;
}
.cta-button-icon:hover {
  background-color: var(--main-highlight-color);
  animation: spin 300ms linear normal;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
.cta-button-text-with-icon {
  color: var(--main-bg2-color);
  font-size: 20px;
  padding: 1px 5px;
  border-radius: 3px;
  transition: 0.1s all ease;
  display: inline;
  margin: 0px 10px;
}
.cta-button-text-with-icon:hover {
  color: var(--main-highlight-color);
}

/**
 * Loading animation
 */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * End of Loading Animation
 */

.notification-container-item {
  transition: 0.2s;

  &:not(:first-child) {
    margin-top: -3rem;
  }
  &:hover ~ .toast-container-item,
  &:focus-within ~ .toast-container-item {
    transform: translateY(3rem);
  }
}
