@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-highlight-color: #f15025; /* rgb(95,31,15) */
  --main-bg-color: #fff;
  --main-bg2-color: #e6e8e6;
  --main-font-color: #ced0ce;
  --main-dark-color: #191919;
}

body {
  background-color: var(--main-dark-color);
  color: var(--main-font-color);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-highlight-color);
}

div,
p,
span,
li,
label {
  color: var(--main-font-color);
}

input[type='text'] {
  color: var(--main-bg-color);
  background-color: rgba(var(--main-dark-color), 0.1);
  font-size: 18pt;
  width: 300px;
  border-bottom: var(--main-highlight-color) solid 2px;
  margin-right: 4px;
}

button[type='submit'] {
  background-color: var(--main-highlight-color);
  color: var(--main-bg-color);
  border-radius: 0.25rem;
  padding: 2px 4px;
  font-size: 18pt;
}

.cta-button-icon {
  color: var(--main-bg2-color);
  font-size: 20px;
  padding: 1px 1px;
  border-radius: 3px;
  transition: 0.1s all ease;
  display: inline;
  margin: 0px 10px;
}
.cta-button-icon:hover {
  background-color: var(--main-highlight-color);
  animation: spin 300ms linear normal;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
.cta-button-text-with-icon {
  color: var(--main-bg2-color);
  font-size: 20px;
  padding: 1px 5px;
  border-radius: 3px;
  transition: 0.1s all ease;
  display: inline;
  margin: 0px 10px;
}
.cta-button-text-with-icon:hover {
  color: var(--main-highlight-color);
}

.modal {
  background-color: var(--main-dark-color);
}
.modal-title {
  color: var(--main-highlight-color);
}

nav {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  transition: 0.5s all ease;
}

nav header {
  line-height: 60px;
  font-weight: 800;
  text-align: left;
  user-select: none;
  margin-left: 20px;
}

nav ul li {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border-bottom: solid 1px rgba(192, 192, 104, 0.1);
  line-height: 40px;
  margin-left: 1px;
}
.sidebar-highlight {
  background-color: var(--main-bg2-color);
  border-radius: 0.25rem;
}
.sidebar-highlight * {
  color: var(--main-highlight-color);
  font-weight: bold;
}

nav ul li span {
  display: block;
  margin-left: 40px;
  transition: 0.5s all ease;
}
nav ul li span:hover {
  margin-left: 50px;
}

#check {
  display: none;
}

label #open,
label #cancel {
  position: fixed;
  cursor: pointer;
  background-color: var(--main-highlight-color);
  border-radius: 3px;
  transition: 0.1s all ease;
}

label #open {
  left: 20px;
  top: 20px;
  font-size: 35px;
  color: var(--main-bg2-color);
  padding: 1px 3px;
}

#check:checked ~ label #open {
  left: 215px;
  opacity: 0;
}
#check ~ label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  opacity: 100;
  visibility: visible;
}

label #cancel {
  z-index: 1111;
  left: 215px;
  top: 20px;
  font-size: 35px;
  color: var(--main-dark-color);
  padding: 2px 6px;
}

#check:checked ~ nav {
  left: 0;
}

#check:checked ~ main {
  margin-left: 270px;
}

main {
  margin-top: 5px;
  margin-left: 75px;
  transition: 0.5s all ease;
}
